body{
    text-align:center;
    background-color: tan;
}
h1{
    font-size:50px;
}

.input-container{
    display:flex;
    justify-content: center;
    gap: 20%;
    border: 5px solid black;
    padding: 50px;
    width: 70%;
    margin: 0 auto;
}

.due-container{
    border: 3px solid black;
    padding: 20px;
}
.received-container{
    border: 3px solid black;
    padding: 20px;
}
button{
    display: block;
    margin: 80px auto;
    padding: 30px 70px;
    background-color: red;
    font-size: 30px;
}